<ion-content>
    <div id="layer_1">

        <div id="icons_layer2">

            <div class="logo-bike">
                <img src="../../../assets/images/group@3x.png" alt="bike">
            </div>

            <div class="logo-yellow-girl">
                <img src="../../../assets/images/ovalCopy10@3x.png" alt="logo">
            </div>

            <div class="logo-fringe-girl">
                <img src="../../../assets/images/ovalCopy2@3x.png" alt="logo">
            </div>

            <div class="logo-thumb">
                <img src="../../../assets/images/group6@3x.png" alt="logo">
            </div>

            <div class="logo-bottom-girl">
                <img src="../../../assets/images/group9@3x.png" alt="logo">
            </div>

        </div>

        <form id="form-wrapper_layer3">

            <div>
                <h1 class="auth_title">Регистрация</h1>
            </div>

            <div class="input1">
                             <span>
                             <input type="text"
                                    [placeholder]="'Представьтесь, пожалуйста'"
                                    #introduce="ngModel"
                                    [(ngModel)]="name"
                                    name="introduce"
                                    required>

                        </span>
            </div>
            <div class="input2">
                        <span>
                            <input type="text" class="1"
                                   [placeholder]="'Введите номер телефона'"
                                   #enterNumber="ngModel"
                                   [(ngModel)]="number"
                                   name="enterNumber"
                                   required>
                       </span>
            </div>

            <div class="auth_radio">
                <ion-radio color="primary" checked mode="md" slot="start" class="ion_radio"></ion-radio>
                <label class="label_radio"> Я принимаю пользовательское соглашение</label>
            </div>

            <div class="auth_button">
                <button class="auth_button_button">
                    Подтвердить номер
                </button>
            </div>
        </form>
    </div>
</ion-content>



