#layer_1 {
  position: relative;
  background: url("../../../assets/images/group7@3x.png") 100% 100% no-repeat;
  background-size: cover;
  width: 375px;
  height: 100%;
}

#icons_layer2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.logo-bike {
  width: 100px;
  margin-left: 65.5vw;
  margin-top: calc(21vh - 112px);
}

.logo-yellow-girl {
  width: 100px;
  margin-left: 56vw;
  margin-top: calc(46vh - 12px);
}

.logo-fringe-girl {
  width: 100px;
  margin-top: calc(5vh - 64px);
  margin-left: 12vw;
}

.logo-thumb {
  width: 100px;
  margin-top: calc(13vh - 212px);
  margin-left: 74vw;
}

.logo-bottom-girl {
  width: 100px;
  margin-top: calc(5vh - 85px);
  margin-left: 37vw;
}

#form-wrapper_layer3 {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  margin-top: calc(50vh - 406px);
  margin-left: calc(50vw - 188px);
}

.auth_title {
  margin-top: 128px;
  margin-left: 6vw;
  color: #1d2e69;
  font-size: 36px;
  font-weight: bold;
  font-family: Circe-ExtraBold;
  letter-spacing: 0;
}

.input1 {
  height: 60px;
  width: 335px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 27px #e8ecf2;
  margin-top: 30px;
  margin-left: 5vw;
  font-size: 15px;
  font-family: Circe-Regular;
  padding: 5px;
  display: inline-block;
}

.input2 {
  height: 60px;
  width: 335px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 27px #e8ecf2;
  font-size: 15px;
  font-family: Circe-Regular;
  padding: 5px;
  display: inline-block;
  margin-top: 2vh;
  margin-left: 5vw;
  color: #bbc1c9;
  letter-spacing: 1px;
}

input {
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 250px;
  margin-left: 5vw;
  letter-spacing: 1px;
  color: #bbc1c9;
}

.auth_radio {
  color: #284195;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 31px;
  margin-left: 10vw;
  font-family: Circe-Regular;
}

.ion_radio {
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 3px;
  width: 18px;
  color: #284195;
}

.label_radio {
  text-decoration: underline;
}

.auth_button_button {
  width: 337px;
  height: 61px;
  border-radius: 30px;
  background-color: #1d2e69;
  color: #fff;
  font-family: Circe-Bold;
  letter-spacing: 1px;
  font-size: 14px;
}

.auth_button {
  margin-top: 30px;
  margin-left: 5vw;
}

