// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('assets/fonts/Circe-ExtraBold.ttf');
}

@font-face {
  font-family: 'Circe-Regular';
  src: url('assets/fonts/Circle-Regular.ttf');
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('assets/fonts/Circe-Bold.ttf');
}

:root {
  --ion-color-primary: #284195;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #284195;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #284195;
  --ion-color-primary-tint: #284195;
}
