<ion-header>
    <ion-toolbar>
        <ion-title>Общая страница</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item [routerLink]="['/logo']">
        <ion-label position="stacked">
            <h2>Заставка</h2>
        </ion-label>
        <ion-text color="medium">
            <p>splash</p>
        </ion-text>
    </ion-item>

    <ion-item [routerLink]="['/registration-number']">
        <ion-label position="stacked">
            <h2>Регистрация</h2>
        </ion-label>
        <ion-text color="medium">
            <p>Ввод номера и имени</p>
        </ion-text>
    </ion-item>

    <ion-item [routerLink]="['/registration-number', 123]">
        <ion-label position="stacked">
            <h2>Регистрация</h2>
        </ion-label>
        <ion-text color="medium">
            <p>Ввод кода из смс</p>
        </ion-text>
    </ion-item>

    <ion-item [routerLink]="['/task-client']">
        <ion-label position="stacked">
            <h2>Моизадания</h2>
        </ion-label>
        <ion-text color="medium">
            <p>Заказчик</p>
        </ion-text>
    </ion-item>

    <ion-item [routerLink]="['/task-executor']">
        <ion-label position="stacked">
            <h2>Мои задания</h2>
        </ion-label>
        <ion-text color="medium">
            <p>Исполнитель</p>
        </ion-text>
    </ion-item>

</ion-content>
