#logo_wrapper_layer1 {
  position: relative;
  background: url("../../../assets/images/group7@3x.png") 100% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.logo_layer2 {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.logo {
  margin-left: calc(50vw - 108px);
  margin-top: calc(50vh - 376px);
}
.logo-top-man {
  max-width: 100px;
  margin-top: 3vh;
  margin-left: 29.5vw;
}
.logo-bike {
  width: 100px;
  margin-left: 65vw;
  margin-top: calc(5vh - 43px);
}
.logo-guy {
  max-width: 100px;
  margin-left: 12vw;
  margin-top: calc(10vh - 110px);
}
.logo-yellow-girl {
  max-width: 100px;
  margin-left: 57vw;
  margin-top: calc(5vh - 11px);
}
.logo-fringe-girl {
  max-width: 100px;
  margin-top: calc(5vh - 62px);
  margin-left: 12vw;
}
.logo-thumb {
  max-width: 100px;
  margin-top: calc(13vh - 212px);
  margin-left: 74vw;
}
.logo-bottom-girl {
  max-width: 100px;
  margin-top: calc(5vh - 24px);
  margin-left: 37vw;
}

//для Galaxy S5,
@media screen and (max-height: 640px) and (max-width: 360px) {
  .logo {
    margin-left: calc(50vw - 108px);
    margin-top: calc(50vh - 326px);
  }
}
//для iPhone 5/SE
@media screen and (max-width: 320px) {
  .logo-guy {
    max-width: 100px;
    margin-left: 12vw;
    margin-top: calc(10vh - 130px);
  }
  .logo {
    margin-left: calc(50vw - 108px);
    margin-top: calc(50vh - 285px);
  }
  .logo-yellow-girl {
    max-width: 100px;
    margin-left: 57vw;
    margin-top: calc(5vh - 55px);
  }
  .logo-thumb {
    max-width: 100px;
    margin-top: calc(13vh - 160px);
    margin-left: 74vw;
  }
  .logo-bottom-girl {
    max-width: 100px;
    margin-top: calc(5vh - 45px);
    margin-left: 37vw;
  }
}
//iPhone 6/7/8
@media screen and (min-height: 666px) and (max-height: 668px) {
  .logo {
    margin-left: calc(50vw - 108px);
    margin-top: calc(50vh - 333px);
  }
}


//iPhone6/7/8 Plus
@media screen and (min-width: 413px) and (max-width: 415px) {
}

//Pixel 2
@media screen and (min-height: 730px) and (max-height: 732px) {
}
