<ion-content>
    <div id="logo_wrapper_layer1">

        <div class="logo_layer2">

            <div class="logo-top-man">
                <img src="/assets/images/group5@3x.png" alt="logo">
            </div>

            <div class="logo-bike">
                <img src="/assets/images/group@3x.png" alt="bike">
            </div>

            <div class="logo-guy">
                <img src="/assets/images/ovalCopy@3x.png" alt="logo">
            </div>

            <div class="logo">
                <img src="/assets/images/logo.png" alt="logo">
            </div>

            <div class="logo-yellow-girl">
                <img src="/assets/images/ovalCopy10@3x.png" alt="logo">
            </div>

            <div class="logo-fringe-girl">
                <img src="/assets/images/ovalCopy2@3x.png" alt="logo">
            </div>

            <div class="logo-thumb">
                <img src="/assets/images/group6@3x.png" alt="logo">
            </div>

            <div class="logo-bottom-girl">
                <img src="/assets/images/group9@3x.png" alt="logo">
            </div>

        </div>
    </div>
</ion-content>






